{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
  <div class="container">
    <img src="static/images/ADmanage.png" alt="ADmanage">
    <br><br>
    <label for="module">Modules:</label>
    <select name="module" id="module">
      <option value="">--Please choose an option--</option>
      {% for module_function in module_functions %}
        <option value="{{ module_function }}">{{ module_function }}</option>
      {% endfor %}
    </select>

    <input type="text" placeholder="arg1" name="arg1">
    <input type="text" placeholder="arg2" name="arg2">

    <button type="submit">Execute</button>
  </div>
</form>

{{ results }}

{% endblock %}
